html {
	box-sizing: border-box;
	background-color: #212529;
	font-family: "Inter", "Poppins", "Roboto", "Work Sans", sans-serif;
	/* Viewport width 1440px */
	color: #ffffff;
	scroll-behavior: smooth;
}
a:any-link {
	color: inherit;
	cursor: pointer;
	text-decoration: inherit;
}
header {
	width: 100%;
	height: 4.583vw;
	font-family: "Poppins", sans-serif;
	font-size: 1.25vw;
	margin-top: 1.181vw;
}
ul li {
	list-style: none;
}
.header_wrap {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.header_logo_wrap {
	display: flex;
	align-items: center;
}
#header_logo {
	width: 6.319vw;
}
.header_menu {
	width: 29.792vw;
	display: flex;
	padding-inline: 0px;
	margin-block: 0px;
	justify-content: space-between;
	font-weight: 600;
}
#header_menu_item:hover {
	color: #ffb742;
}
#hire_but {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #212529;
	background-color: #ffb742;
	width: 8.403vw;
	height: 3.75vw;
	border-radius: 3.472vw;
	font-weight: 700;
	font-size: 1.25vw;
}
body {
	margin: 0px;
}
.body_intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Inter", sans-serif;
	margin-top: 7.5vw;
}
#intro_1 {
	font-weight: 700;
	line-height: 3.528vw;
	font-size: 2.222vw;
}
#intro_span {
	color: #ffb742;
	text-decoration: underline;
}
#intro_2 {
	font-weight: 700;
	line-height: 6.306vw;
	font-size: 3.333vw;
}
#intro_3 {
	font-weight: 400;
	line-height: 3.528vw;
	font-size: 1.667vw;
	margin-top: 1.736vw;
}
#intro_avatar {
	width: 14.583vw;
	height: 15.467vw;
	margin-top: 1.528vw;
}
.body_blocks {
	display: flex;
	justify-content: space-evenly;
	margin-top: 9.463vw;
}
.block_container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 28.889vw;
	height: 8.333vw;
	background-color: #292b2e;
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-size: 2.222vw;
	line-height: 126%;
	color: #ffb742;
	border-radius: 0.694vw;
}
#secondary_text {
	font-size: 1.111vw;
	line-height: 193%;
	color: #ffffff;
}
.block_container:hover {
	background: linear-gradient(94.3deg, #ffb742 0%, rgba(255, 123, 66, 0.76) 99.33%);
	color: #212529;
}
.block_container:hover #secondary_text {
	color: #212529;
}
.block_img {
	width: 4.444vw;
}
.block_chevron {
	width: 1.389vw;
}
.body_about {
	display: flex;
	justify-content: flex-start;
	margin-top: 15.375vw;
}
.about_img {
	width: 43.599vw;
	height: 41.424vw;
	margin-top: 2.292vw;
}
.about_text_block {
	margin-left: 5.151vw;
}
#grey_title {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10.278vw;
	height: 2.917vw;
	font-family: "Poppins", sans-serif;
	font-size: 1.389vw;
	font-weight: 600;
	color: #ffb742;
	background: #ffffff08;
	border-radius: 3.472vw;
	text-transform: uppercase;
	line-height: 2.083vw;
}
#about_title {
	font-family: "Roboto", sans-serif;
	font-size: 3.333vw;
	font-weight: 700;
}
#about_p {
	margin-top: 2.048vw;
	width: 46.667vw;
	height: 12.292vw;
	font-family: "Poppins", sans-serif;
	font-size: 1.111vw;
	font-weight: 400;
	line-height: 2.083vw;
	color: #d4d4d4;
	margin-bottom: 3.781vw;
}
.body_skills {
	display: flex;
	justify-content: space-evenly;
	margin-top: 1.25vw;
}
.skills_text_block {
	width: 46.667vw;
}
#grey_title_s {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10.278vw;
	height: 2.917vw;
	font-family: "Poppins", sans-serif;
	font-size: 1.389vw;
	font-weight: 600;
	color: #ffb742;
	background: #ffffff08;
	border-radius: 3.472vw;
	text-transform: uppercase;
	line-height: 2.083vw;
}
#skills_title {
	width: 35.972vw;
	font-family: "Roboto", sans-serif;
	font-size: 3.333vw;
	font-weight: 700;
}
#skills_text {
	margin-top: 2.083vw;
	font-family: "Poppins", sans-serif;
	font-size: 1.111vw;
	font-weight: 400;
	line-height: 2.083vw;
	color: #d4d4d4;
	margin-bottom: 4.392vw;
}
.skills_img {
	height: 12.222vw;
}
.skills_table {
	border-spacing: 1.111vw;
}
#skill_cell {
	width: 5.556vw;
	height: 5.556vw;
	background-color: #383e45;
	border-radius: 0.694vw;
}
#skill_cell:hover {
	background-color: #ffb74250;
}
#skill_cell_img {
	height: 3.333vw;
	display: block;
	margin: auto;
}
.body_works {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 9.514vw;
}
#grey_title_w {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 11.111vw;
	height: 2.917vw;
	font-family: "Poppins", sans-serif;
	font-size: 1.389vw;
	font-weight: 600;
	color: #ffb742;
	background: #ffffff08;
	border-radius: 3.472vw;
	text-transform: uppercase;
	line-height: 2.083vw;
}
.works_title {
	font-family: "Roboto", sans-serif;
	font-size: 3.333vw;
	font-weight: 700;
}
.works_menu {
	margin-top: 2.083vw;
	width: 45.278vw;
	font-family: "Poppins", sans-serif;
	display: flex;
	justify-content: space-between;
	font-size: 1.111vw;
	font-weight: 600;
	line-height: 2.083vw;
}
#menu_all {
	height: 2.778vw;
	width: 4.236vw;
	border-radius: 0.208vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
#menu_all:hover {
	background-color: #ffb742;
	color: #212529;
}
#menu_app {
	height: 2.778vw;
	width: 9.167vw;
	border-radius: 0.208vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
#menu_app:hover {
	background-color: #ffb742;
	color: #212529;
}
#menu_design {
	height: 2.778vw;
	width: 11.597vw;
	border-radius: 0.208vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
#menu_design:hover {
	background-color: #ffb742;
	color: #212529;
}
#menu_dev {
	height: 2.778vw;
	width: 15.278vw;
	border-radius: 0.208vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
#menu_dev:hover {
	background-color: #ffb742;
	color: #212529;
}
.works_samples {
	display: flex;
	justify-content: space-between;
	width: 85.694vw;
	margin-top: 3.333vw;
}
.samples_column {
	width: 27.083vw;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
}
#sample_img {
	width: 27.083vw;
	border-radius: 0.366vw;
}
.body_reviews {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 9.417vw;
	margin-bottom: 17.569vw;
}
#grey_title_r {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 13.333vw;
	height: 2.917vw;
	font-family: "Poppins", sans-serif;
	font-size: 1.389vw;
	font-weight: 600;
	color: #ffb742;
	background: #ffffff08;
	border-radius: 3.472vw;
	text-transform: uppercase;
	line-height: 2.083vw;
}
.reviews_title {
	font-family: "Roboto", sans-serif;
	font-size: 2.728vw;
	font-weight: 700;
}
.reviews_blocks {
	width: 84.514vw;
	display: flex;
	justify-content: space-between;
	margin-top: 6.271vw;
}
.r_block {
	font-family: "Poppins", sans-serif;
	background-color: #ffffff;
	color: #000000;
	width: 26.319vw;
	height: 31.597vw;
	border-radius: 0.551vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.r_wrap {
	width: 20.486vw;
	height: 24.653vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.five_stars {
	width: 7.083vw;
	display: flex;
	justify-content: space-between;
}
#star {
	width: 0.91vw;
	height: 0.91vw;
	background: url(../img/star.svg);
	background-size: 0.91vw;
}
#r_content {
	width: 20.417vw;
	height: 14.583vw;
	font-size: 1.389vw;
	line-height: 2.361vw;
}
.r_author {
	display: flex;
	justify-content: space-between;
	width: 16.389vw;
}
#author_photo {
	background: url(../img/reviewer_photo.png);
	background-size: 5vw;
	width: 5vw;
	height: 5.139vw;
}
#author_name {
	font-size: 1.389vw;
	line-height: 2.361vw;
	font-weight: 700;
}
#author_occupation {
	font-size: 1.111vw;
	line-height: 2.361vw;
}
footer {
	font-family: "Work Sans", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1c1c1c;
	height: 32.639vw;
}
.foot_content_wrap {
	width: 93.194vw;
	height: 16.458vw;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
.foot_block_first {
	width: 17.569vw;
	height: 9.028vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#first_block_name {
	font-family: "Poppins", sans-serif;
	color: #ffb742;
	font-size: 2.222vw;
	font-weight: 700;
}
#first_block_profession {
	font-size: 1.111vw;
	line-height: 2.25vw;
	color: #d4d4d4;
}
.foot_block_big {
	display: flex;
	height: 16.458vw;
	flex-direction: column;
	justify-content: space-between;
}
.foot_block_title {
	font-size: 1.499vw;
	line-height: 2.215vw;
	font-weight: 700;
	color: #f5fbf2;
}
.big_block_menu_list {
	margin-block: 0px;
	padding-inline: 0px;
	font-size: 1.249vw;
	line-height: 2.528vw;
	font-weight: 500;
	color: #7b7b7b;
}
#big_block_menu_item:hover {
	color: #ffb742;
}
.foot_block_last {
	width: 22.153vw;
	height: 7.917vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#last_block_notification {
	font-size: 1.249vw;
	line-height: 2.528vw;
	font-weight: 500;
	color: #7b7b7b;
}
