html {
	font-family: "M PLUS 1p", "Marcellus SC", "Roboto", sans-serif;
	height: 100%;
}
/* Viewport width: 1440px */
#yUKR {
	color: #e8c23e;
	font-weight: 400;
}
body {
	margin: 0px; /*overriding user-agent stylesheet*/
}
header {
	font-family: "M PLUS 1p", sans-serif;
	color: #3e45e8;
	font-size: 3.333vw;
	text-align: center;
	letter-spacing: 0.1em;
	font-weight: 400;
}
.verse_container {
	height: 55.764vw;
	display: flex;
	flex: auto;
	justify-content: center;
	flex-wrap: wrap;
}
.verse {
	width: 100vw;
	display: flex;
	align-items: center;
	background-image: url(../img/mainback.png);
	background-repeat: no-repeat;
	background-size: 100%;
	color: #ffffff;
	font-weight: bold;
	font-size: 3.333vw;
	font-family: "Roboto", "sans-serif";
	line-height: 157.3%;
}
#flag {
	height: 18.889vw;
	padding-left: 5.556vw;
	padding-right: 1.111vw;
}
.places_h_container {
	/* padding-left: 80px; */
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}
#places_h {
	width: 83.333vw;
	padding-top: 5px;
	font-weight: bold;
	font-family: "Roboto", "sans-serif";
	font-size: 2.778vw;
}
#blue_line_1_container {
	width: 83.333vw;
}
#blue_line_1 {
	margin-top: 1.736vw;
	margin-bottom: 2.292vw;
	border-style: solid;
	box-sizing: border-box;
	border-color: #3e45e8;
	border-bottom: 0.347vw;
	width: 27.917vw;
}
.places_boxes {
	margin-top: 2.292vw;
	margin-left: 6.528vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.place_text_b {
	color: #1e8df2;
	font-weight: bold;
	font-size: 1.667vw;
	padding-left: 0.694vw;
	padding-top: 0.972vw;
}
.place_text_y {
	color: #e8c23e;
	font-weight: 400;
	font-size: 1.389vw;
	padding-left: 0.694vw;
	padding-top: 0.972vw;
}
.place_img {
	width: 27.778vw;
}
#place {
	width: 27.778vw;
	height: 33.403vw;
	border-radius: 2.083vw;
	box-shadow: 0px 0.278vw 0.278vw rgba(0, 0, 0, .25);
}
.rest_container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	width: 100%;
}
#vic {
	align-content: center;
	padding-top: 5vw;
	font-weight: bold;
	font-family: "Roboto", "sans-serif";
	font-size: 2.778vw;
}
#blue_line_2 {
	align-content: center;
	margin-top: 1.736vw;
	margin-bottom: 2.292vw;
	border-style: solid;
	box-sizing: border-box;
	border-color: #3e45e8;
	border-bottom: 0.347vw;
	width: 27.917vw;
}
#map_img{
	margin-top: 2.847vw;
	width: 56.389vw;
}
#support{
	margin-top: 2.847vw;
	display: flex;
	font-family: "Roboto", "sans-serif";
	width: 41.042vw;
	height: 8.403vw;
	align-items: center;
	justify-content: center;
	font-size: 4.444vw;
	font-weight: bold;
	color: #ffffff;
	background-color: #2A61F0;
}
footer{
	margin-top: 1.458vw;
	text-align: center;
	background-color: #2F4A4B;
}
.strong_foot{
	color: #3e45e8;
	letter-spacing: 0.1em;
	font-size: 3.333vw;
	font-family: "M PLUS 1p", sans-serif;
}
.info{
	letter-spacing: 0.1em;
	margin-top: 1.042vw;
	margin-bottom: 1.042vw;;
	color: #A89D9D;
	font-size: 2.5vw;
	font-family: "Marcellus SC", sans-serif;
}
#insta{
	width: 4.444vw;
}
#twitter{
	width: 4.931vw;
}
#facebook{
	width: 4.514vw;
}
#tgram{
	width: 4.444vw;
}
