html {
	box-sizing: border-box;
	font-family: "PT Sans", sans-serif;
	/* viewport width - 1920px */
	scroll-behavior: smooth;
}
a:any-link {
	color: inherit;
	cursor: pointer;
	text-decoration: inherit;
}
header {
	background-color: #243b93;
	width: 100%;
	height: 3.385vw;
	position: sticky;
	top: 0px;
	z-index: 2;
	scrollbar-gutter: stable;
}
.header_wrap {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.header_content {
	width: 68.802vw;
	height: 3.385vw;
	color: #ffffff;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.hlogo_wrap {
	height: 3.385vw;
	display: flex;
	align-items: center;
}
#header_logo {
	width: 7.292vw;
}
.header_menu {
	width: 44.271vw;
	font-size: 0.833vw;
	letter-spacing: 0.16em;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 4vw;
	margin-block: 0px;
	padding-inline-start: 0px;
}
.globe_lang_wrap {
	height: 3.385vw;
	display: flex;
	align-items: center;
}
.globe_lang_wrap:hover {
	cursor: pointer;
}
#header_globe {
	width: 2.894vw;
}
#lang_switch {
	font-size: 1.458vw;
	margin-left: 0.5vw;
}

ul li {
	list-style: none;
}
body {
	margin: 0px;
	scrollbar-gutter: stable;
	background-color: #fbe4ff;
	background-size: 100%;
}
.booking {
	width: 100%;
	height: 4.427vw;
	font-style: italic;
	font-size: 2.292vw;
	color: #202846;
	background-color: #bff0ff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.heading_text {
	width: 68.802vw;
}
.selector_wrap {
	display: flex;
	justify-content: center;
}
.place_selector {
	width: 68.802vw;
	height: 2.969vw;
	color: #00000061;
	background-color: #ffffff;
	font-size: 1.458vw;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1.563vw;
}
.place_selector:hover {
	cursor: pointer;
}
.arrow_wrap {
	position: relative;
	top: 0.17vw;
	left: 23.92vw;
}
#selector_arrow {
	width: 1.771vw;
}
.offer_cards {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
}
.offer_card_body {
	width: 68.802vw;
	height: 15.625vw;
	background: linear-gradient(92.95deg, #adcbd5 0%, #00aee6 100%);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 2.188vw;
	align-items: flex-end;
	align-content: space-around;
	pointer-events: visible;
}
.offer_card_body:hover {
	background: #2cbdeb;
	box-shadow: 0px 0px 60px 4px #2cbdeb;
	transition: all 0.5s ease-out;
}
.offer_card_body:hover .details_box {
	background: #ef075b;
	transition: all 0.5s ease-out;
	cursor: pointer;
}
.star_wrap:hover .star_y {
	display: inline;
	cursor: pointer;
}
.box_img {
	width: 23.281vw;
}
.card_content_wrap {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	height: 13.802vw;
}
.place_name {
	margin-top: -0.99vw;
	font-size: 1.875vw;
	font-style: italic;
	font-weight: bold;
	color: #353c57;
}
.textbox {
	background-color: #edfbff;
	color: #202846;
	width: 37.58vw;
	height: 10.22vw;
	font-size: 1.146vw;
	padding-left: 0.833vw;
	padding-top: 0.677vw;
}
.underline {
	width: 38.49vw;
	height: 0.156vw;
	background-color: #ffffff;
	margin-bottom: 0.521vw;
}
.star_wrap {
	width: 2.5vw;
	position: relative;
	left: 38.2vw;
	bottom: 14vw;
	pointer-events: auto;
}
.star {
	width: 2.5vw;
	position: absolute;
}
.star_y {
	width: 2.6vw;
	position: absolute;
	display: none;
}
.details_box {
	position: relative;
	right: 7vw;
	top: 6.1vw;
	font-size: 1.25vw;
	text-align: center;
	line-height: 2.396vw;
	vertical-align: middle;
	color: #ffffff;
	background-color: #243b93;
	width: 10.938vw;
	height: 2.396vw;
	border-radius: 1.563vw;
	pointer-events: auto;
}
.user_profile {
	width: 100%;
	height: 4.427vw;
	font-style: italic;
	font-size: 2.292vw;
	color: #243b93;
	background: linear-gradient(90deg, #ffe601 0%, #55d6ff 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1.875vw;
}
.user_info_wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2.917vw;
}
.user_info_card {
	width: 68.646vw;
	height: 25.938vw;
	background: linear-gradient(180deg, #859eff 0%, rgba(105, 255, 210, 0.5) 100%);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 0.99vw;
}
.user_avatar_sect {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 17.969vw;
}
#avatar {
	width: 10.208vw;
	height: 9.583vw;
}
#avatar_upload {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.25vw;
	line-height: 2.396vw;
	color: #ffffff;
	background-color: #243b93;
	width: 13.021vw;
	height: 2.604vw;
	border-radius: 1.563vw;
}
#avatar_upload:hover {
	background-color: #ef075b;
	cursor: pointer;
}
#user_settings {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.25vw;
	line-height: 2.396vw;
	color: #ffffff;
	background-color: #243b93;
	width: 13.021vw;
	height: 2.604vw;
	border-radius: 1.563vw;
}
#user_settings:hover {
	background-color: #ef075b;
	cursor: pointer;
}
.user_info_list {
	font-size: 1.875vw;
	font-weight: bold;
	font-style: italic;
	color: #353c57;
	line-height: 2.426vw;
	display: flex;
}
.list_wrap {
	display: flex;
	flex-direction: column;
	height: 17.969vw;
	justify-content: space-between;
	margin: 0px;
	padding: 0px;
}
.list_underline {
	/* border-bottom-width: 37.083vw;
	border-style: solid;
	border-bottom: 0.156vw;
	border-color: #ffffff; */
	background-color: #ffffff;
	width: 37.083vw;
	height: 0.156vw;
}
.list_info_in {
	font-weight: 400;
}
#logout {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.25vw;
	line-height: 2.396vw;
	color: #ffffff;
	background-color: #243b93;
	width: 13.021vw;
	height: 2.604vw;
	border-radius: 1.563vw;
}
#logout:hover {
	background-color: #ef075b;
	cursor: pointer;
}
.contacts {
	width: 100%;
	height: 4.427vw;
	font-style: italic;
	font-size: 2.292vw;
	color: #243b93;
	background: linear-gradient(90deg, #54d6ff 0%, #ffe600 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1.302vw;
}
.contacts_block_wrap {
	display: flex;
	justify-content: center;
}
.contacts_block {
	display: flex;
	justify-content: space-between;
	width: 68.802vw;
	margin-bottom: 1.458vw;
}
.contact_info {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 1.563vw;
	color: #000000;
	width: 36.771vw;
	height: 9.896vw;
}
.info_cat_name {
	font-size: 1.667vw;
}
#contacts_underline_1 {
	width: 12.708vw;
	height: 0.156vw;
	background-color: #202846;
}
#contacts_underline_2 {
	width: 20.104vw;
	height: 0.156vw;
	background-color: #202846;
}
#contacts_underline_3 {
	width: 13.75vw;
	height: 0.156vw;
	background-color: #202846;
}
.map_inject {
	width: 25.99vw;
	height: 15.104vw;
	border: solid;
	border-radius: 2.083vw;
	border-color: #243b93;
}
.top_but_wrap {
	position: sticky;
	bottom: 8.5vh;
	left: 90vw;
	width: 5.26vw;
	height: 5.26vw;
	margin-top: -5.26vw;
}
#top_button {
	width: 5.26vw;
	height: 5.26vw;
	border-radius: 2.63vw;
	background: #300c6a4d;
	display: flex;
	justify-content: center;
	align-items: center;
}
#top_button_arrow {
	width: 1.198vw;
}
#top_button:hover {
	background: #300c6a;
	transition: all 0.5s ease-in;
}
footer {
	background-color: #243b93;
	width: 100%;
	height: 3.385vw;
	color: #ffffff;
}
.footer_block_wrap {
	display: flex;
	justify-content: center;
}
#footer_block {
	display: flex;
	align-items: center;
	width: 68.646vw;
	height: 3.385vw;
	font-size: 0.833vw;
	letter-spacing: 0.16em;
}
